appName.egg-info/
.cache/

*.db
var/

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache
tests/


# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
*.DS_Store
.vscode/
