<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meal Runner</title>
        <link rel="icon" type="image/png" href="/static/images/icon.png">
        <!--  The below line can be used to bypass client side dynamic page  -->
        <!-- Refreshes page every five seconds -->
        <!--<meta http-equiv="refresh" content="5">-->
        <link rel="stylesheet" href="/static/css/headerStyle.css">
    </head>
    <body>

            <header>
                    <div class="headercenter">
                        <a href="{{url_for('show_index')}}"><img src="/static/images/logo.png" alt="MealRunner Logo"></a>
                        <span id="headercenter"> <a href="{{url_for('show_create')}}">Sign up</a> | <a href="{{url_for('show_login')}}">login</a> </span>
                    </div>
                    <br/>
                    <br/>
                    <hr>
            </header>
    
        <section>
            <h1>Sign Up As:</h1>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="submit" name="giver" value="Giver"/>
                <br><input type="submit" name="driver" value="Driver"/>
                <br><input type="submit" name="receiver" value="Receiver"/>
            </form>
        </section>
    </body>
</html>