<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meal Runner</title>
        <link rel="icon" type="image/png" href="/static/images/icon.png">
        <!--  The below line can be used to bypass client side dynamic page  -->
        <!-- Refreshes page every five seconds -->
        <!--<meta http-equiv="refresh" content="5">-->
        <link rel="stylesheet" href="/static/css/indexStyle.css">
    </head>
    <body>
        <header>
                <div>
                    <a href="{{url_for('show_index')}}" ><img src="/static/images/logo.png" alt="MealRunner Logo"></a>
                </div>
                
        </header>
        <span id="topright"><a href="{{url_for('show_logout')}}" class="button6">logout</a> </span>
        <hr>
        <h1 id="signup">Hello {{fullname}}</h1>
        {% if type=='Giver' %}

        <div>
            <div class="form-style-8">
                <h2>Make a Pickup Request</h2>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="text" name="description" placeholder="Description" />
                    <input type="submit" name="makepost" value="Post"/>
                </form>
            </div>
            
            <section>
                <h3>My Requests</h3>
                {% for request in allrequests %}
                {% if request['giverowner']==username %}
                <div class="card">
                    Giver: {{ request['giverowner'] }}<br>
                    Address: {{ request['giveraddress'] }}<br>
                    Receiver: {{ request['receiverowner'] }}<br>
                    Address: {{ request['receiveraddress'] }}<br>
                    Description: {{ request['description'] }}<br>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="submit" name="deletepost" value="delete"/><br>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </section>
        </div>

        {% elif type=='Receiver' %}
        <div>  

            <section>
                <h3>Requests Available</h3>
                {% for request in allrequests %}
                {% if request['receiveraccept']!=1 and request['receiverowner']!=username %}
                <div>
                    Giver: {{ request['giverowner'] }}<br>
                    Address: {{ request['giveraddress'] }}<br>
                    Receiver: {{ request['receiverowner'] }}<br>
                    Address: {{ request['receiveraddress'] }}<br>
                    Description: {{ request['description'] }}<br>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="submit" name="receivertake" value="accept"/><br>
                </form>
                {% endif %}
                {% endfor %}
            </section>

            <section>
                <h3>Your Accepted Requests</h3>
                {% for request in allrequests %}
                {% if request['receiverowner']==username %}
                <div>
                    Giver: {{ request['giverowner'] }}<br>
                    Address: {{ request['giveraddress'] }}<br>
                    Receiver: {{ request['receiverowner'] }}<br>
                    Address: {{ request['receiveraddress'] }}<br>
                    Description: {{ request['description'] }}<br>
                </div>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="submit" name="receivergiveback" value="revoke"/><br>
                </form>
                {% endif %}
                {% endfor %}
            </section>
        </div>
        {% else %}
        <div>
                <section>
                    <h3>Requests Available</h3>
                    {% for request in allrequests %}
                    {% if request['receiveraccept']==1 and request['driveraccept']!=1 %}
                    <div>
                        Giver: {{ request['giverowner'] }}<br>
                        Address: {{ request['giveraddress'] }}<br>
                        Receiver: {{ request['receiverowner'] }}<br>
                        Address: {{ request['receiveraddress'] }}<br>
                        Description: {{ request['description'] }}<br>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="submit" name="receivertake" value="accept"/><br>
                    </form>
                    {% endif %}
                    {% endfor %}
                </section>
    
                <section>
                    <h3>Your Accepted Requests</h3>
                    {% for request in allrequests %}
                    {% if request['driverowner']==username %}
                    <div>
                        Giver: {{ request['giverowner'] }}<br>
                        Address: {{ request['giveraddress'] }}<br>
                        Receiver: {{ request['receiverowner'] }}<br>
                        Address: {{ request['receiveraddress'] }}<br>
                        Description: {{ request['description'] }}<br>
                    </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="submit" name="receivergiveback" value="revoke"/><br>
                    </form>
                    {% endif %}
                    {% endfor %}
                </section>
            </div>
        {% endif %}
    </body>
</html>