<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meal Runner</title>
        <link rel="icon" type="image/png" href="/static/images/icon.png">
        <!--  The below line can be used to bypass client side dynamic page  -->
        <!-- Refreshes page every five seconds -->
        <!--<meta http-equiv="refresh" content="5">-->
        <link rel="stylesheet" href="/static/css/headerStyle.css">
    </head>
    <body>

        <header>
                <img src="/static/images/logo.png" alt="MealRunner Logo">
                <span id="headerleft"> Signup | login </span>
                <br/>
                <br/>
                <hr>
        </header>
    
        {{ username }}
    </body>
</html>