<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Meal Runner</title>
        <link rel="icon" type="image/png" href="/static/images/icon.png">
        <!--  The below line can be used to bypass client side dynamic page  -->
        <!-- Refreshes page every five seconds -->
        <!--<meta http-equiv="refresh" content="5">-->
        <link rel="stylesheet" href="/static/css/loginStyle.css">
    </head>
    <body>

        <header>
                <div>
                    <a href="{{url_for('show_index')}}" ><img src="/static/images/logo.png" alt="MealRunner Logo"></a>
                    <span>  </span>
                </div>
        </header>

        <div class="form-style-8">
            <h2>Login to your account</h2>
            <form action="" method="post" enctype="multipart/form-data">
                <input type="text" name="username" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="login" />
            </form>
        </div>
        <div id="signup">
            <span id="signuptext">Don't have an account?&nbsp;&nbsp;&nbsp;</span>
            <a href="{{url_for('show_create')}}" class="button6">Sign up</a>
        </div>
        


    </body>
</html>